<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
        <title>Page One</title>
        <script src="/main.js"></script>
        <style>
            h1, div, p {
                font-family: 'Courier New';
            }
            #page {
                background-color: #eee;
                color: #333;
            }
            .copyright {
                font-size: 12px;
            }
        </style>
    </head>
    <body>
        <h1>page one</h1>
        <div id="page">
            page content
        </div>
        <p class="copyright">Copyright &copy; 2016 yokeneng.com</p>
    </body>
</html>
