<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title><%= title %></title>
    <link href="//res.wx.qq.com/open/libs/weui/1.0.2/weui.min.css" rel="stylesheet"></link>
</head>
<body>
    <div class="weui-cells__title">带说明、跳转的列表项</div>
    <div class="weui-cells">
        <a class="weui-cell weui-cell_access" href="//wechatdev.yokeneng.com">
            <div class="weui-cell__bd">
                <p>部署工具</p>
            </div>
            <div class="weui-cell__ft">有可能学院远程部署工具</div>
        </a>
        <a class="weui-cell weui-cell_access" href="/pages/one">
            <div class="weui-cell__bd">
                <p>Page One</p>
            </div>
            <div class="weui-cell__ft">To page one</div>
        </a>

    </div>
</body>
</html>
